.banner1 {
	background-image: url('../../img/BackBanner/banner-1.webp');
	background-size: cover;
	padding-left: 1rem;
	height: 250px;
	button {
		width: 130px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.banner2 {
	background-image: url('../../img/BackBanner/banner-2.webp');
	background-size: cover;
	padding-left: 1rem;
	height: 250px;
	button {
		width: 130px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.banner3 {
	background-image: url('../../img/BackBanner/banner-3.webp');
	background-size: cover;
	padding-left: 1rem;
	height: 250px;
	button {
		width: 130px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
