.banner1 {
	background-image: url('../../img/BackBanner/banner-1.webp');
	background-size: cover;
	padding-left: 1rem;
	height: 250px;
	h5 {
		transition: transform 0.5s;
	}
	h5:hover {
		transform: translateY(-5px);
	}
	button {
		width: 130px;
		margin-top: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform 0.5s;
	}
	button:hover {
		transform: translateY(-5px);
	}
}
.banner2 {
	background-image: url('../../img/BackBanner/banner-2.webp');
	background-size: cover;
	padding-left: 1rem;
	height: 250px;
	h5 {
		transition: transform 0.9s;
	}
	h5:hover {
		transform: translateY(-5px);
	}
	button {
		width: 130px;
		margin-top: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform 0.5s;
	}
	button:hover {
		transform: translateY(-5px);
	}
}
.banner3 {
	background-image: url('../../img/BackBanner/banner-3.webp');
	background-size: cover;
	padding-left: 1rem;
	height: 250px;
	h5 {
		transition: transform 0.5s;
	}
	h5:hover {
		transform: translateY(-5px);
	}
	button {
		width: 130px;
		margin-top: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform 0.5s;
	}
	button:hover {
		transform: translateY(-5px);
	}
}
